<p>
  <span *ngIf="isNew">新增用户</span>
  <span *ngIf="!isNew">编辑用户:{{this.employeeId}}</span>
  <button (click)="back()">返回</button>
</p>

<div>
姓名：
<input type="text" [(ngModel)]="employee.name"/>
</div>

<div>
性别：
<select [(ngModel)]="employee.sex">
  <option value="M">男</option>
  <option value="F">女</option>
</select>
</div>

<div>
项目名称：
<input type="text" [(ngModel)]="employee.project"/>
</div>

<div>
Level等级：
<input type="text" [(ngModel)]="employee.level"/>
</div>

<button routerLink="/employee" (click)="save()">提交</button>
